* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    position: relative
}

button {
    cursor: pointer;
}

.rights {
    color: var(--grey);
    line-height: 1.5em;
    font-family: var(--lucasNespresso-bold);
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

@font-face {
    font-family: "nespressoLucas-bold";
    src: url(../fonts/NespressoLucas-Bold.ttf);
}

@font-face {
    font-family: "nespressoLucas-medium";
    src: url(../fonts/NespressoLucas-Medium.ttf);
}

@font-face {
    font-family: "nespressoLucas-regular";
    src: url(../fonts/NespressoLucas-Regular.ttf);
}

.disabled {
    display: none;
}

input::placeholder {
    font-family: var(--lucasNespresso-regular);
}

:root {
    --lucasNespresso-medium: "nespressoLucas-medium";
    --lucasNespresso-regular: "nespressoLucas-regular";
    --lucasNespresso-bold: "nespressoLucas-bold";
    --highBlack: #000000;
    --lowBlack: #1C1C1C;
    --orange: #ED931A;
    --grey: #B9B9B9;
    --greyBorder: rgba(185, 185, 185, 0.2);
    --lightGrey: #F3EEE7;
    --grey-brown: #837E6B;
    --brown: #986F38;
    --brownHover: #875E27;
    --lightBrown: #F3EEE7;
    --green: #3D8705;
    --pink: #9C253E;
    --red: #FF0000;
    --borderDarkRed: #790F25;
    --borderRed: #9C253E;
    --borderOrange: #A7660E;
    --borderGreen: #316709;
    --transitionFast: 0.5s all;
    --transitionMedium: 1s all;
    --transitionSlow: 2s all;
    --radiusLow: 5px;
    --radiusMedium: 10px
}

select,
.SumoSelect {
    cursor: pointer;
}

textarea:focus,
input:focus,
input:active,
select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.title {
    font-size: 36px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    text-transform: uppercase;
    margin-bottom: 35px;
}

input:focus {
    border: 1px solid var(--brown)
}