.filterSelectContainer p {
    font-family: var(--lucasNespresso-regular);
    font-size: 12px;
    color: var(--highBlack);
}

.filterSelectContainer .selectFilter {
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    padding: 15px;
    background-color: var(--lightBrown);
    overflow: hidden;
    width: 100%;
}

.filterSelectContainer .selectNumber {
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    padding: 8px 10px;
    background-color: var(--lightBrown);
    border: none;
    padding: 8px 10px;
}