/* BUTTON */

.enter {
    color: white;
    background-color: var(--brown);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--lucasNespresso-bold);
    font-size: 14px;
    padding: 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: var(--transitionFast);
    border: 3px solid var(--brown);
    margin-bottom: 180px;
    cursor: pointer;
}

.enter:hover {
    border: 3px solid var(--brownHover);
    background-color: var(--brownHover);
}

/* FORM */

form {
    text-align: start;
    margin: 0 auto;
    width: 430px;
}

form h2 {
    font-size: 36px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    text-transform: uppercase;
    margin-bottom: 30px;
}

form p {
    font-size: 18px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    line-height: 1.3em;
    margin-bottom: 30px;
}

form label {
    display: block;
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    margin-bottom: 15px;
}

form input {
    border-radius: 5px;
    padding: 14px 15px;
    width: 100%;
    background-color: white;
    border: 1px solid var(--grey);
    margin-bottom: 20px;
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    transition: var(--transitionMedium);
}

form input::placeholder {
    color: var(--grey);
}

form .forgotPassword {
    color: var(--brown);
    line-height: 1.5em;
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
    margin-bottom: 40px;
    display: block;
}

form .forgotPassword:hover {
    color: var(--highBlack)
}

form .enter {
    color: white;
    background-color: var(--brown);
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--lucasNespresso-bold);
    font-size: 14px;
    padding: 14px 20px;
    line-height: 1.25em;
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: var(--transitionFast);
    border: 3px solid var(--brown);
}

form .enter:hover {
    border: 3px solid var(--brownHover);
    background-color: var(--brownHover);
}

form .specification {
    margin-bottom: 15px;
}

form .specification p {
    overflow: hidden;
    font-family: var(--lucasNespresso-regular);
    font-size: 12px;
    line-height: 1.5em;
    color: var(--grey);
    margin-bottom: 0px;
    transition: var(--transitionMedium);
}

form .specification p:before {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 24px;
    content: "";
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
    transition: var(--transitionMedium);
    background-image: url(../assets/new-password/item.svg);
}

.characters form .specification p:nth-child(1),
.uppercase form .specification p:nth-child(2),
.special form .specification p:nth-child(3) {
    color: var(--lowBlack);
}

.characters form .specification p:nth-child(1):before {
    background-image: url(../assets/new-password/item1.svg);
}

.uppercase form .specification p:nth-child(2):before {
    background-image: url(../assets/new-password/item2.svg);
}

.special form .specification p:nth-child(3):before {
    background-image: url(../assets/new-password/item3.svg);
}

form .specification p:nth-child(3):before {
    background-image: url(../assets/new-password/last-item.svg);
}

/* CONFIG */

.settings {
    width: 850px;
    margin: 0 auto;
    margin-top: 80px;
}

.settings .periodPart .SumoSelect>.CaptionCont>label {
    width: 40px;
}

.settings .upload-period {
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
}

.settings .upload-period h2 {
    font-family: var(--lucasNespresso-regular);
    font-size: 24px;
    padding-bottom: 20px;
    width: 50%;
    cursor: pointer;
}

.uploadActive .settings .upload-period h2:nth-child(1) {
    color: var(--highBlack);
    border-bottom: 1px solid var(--brown);
    float: left;
}

.uploadActive .settings .upload-period h2:nth-child(2) {
    color: var(--grey);
    border-bottom: 1px solid var(--grey);
    float: right;
}

.settings .title {
    margin-bottom: 65px;
}

.settings .enter {
    width: 135px;
    margin-bottom: 0px;
    height: 100%;
    padding: 0px;
}

.settings .titleList {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid var(--highBlack);
}

.settings .list {
    border-bottom: 1px solid var(--highBlack);
}

.settings .titleList input {
    width: min-content;
}

.settings .titleList label {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
}

.settings .titleList h3 {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
    line-height: 1.5em;
}

.settings .list li {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid var(--greyBorder);
}

.loading .settings li:nth-child(1) h4 {
    color: var(--green);
}

.loading .settings li:nth-child(1) {
    border-bottom: 1px solid var(--green);
}

.loading .settings .SumoSelect li:nth-child(1) {
    border-bottom: 0px
}

.settings h4 {
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    line-height: 27px;
}

.settings a:nth-child(3) {
    text-decoration: none;
}

.loading .settings li:nth-child(1) a h4 {
    background-image: url(../assets/config/download-green.svg);
}

.settings a h4 {
    background-image: url(../assets/config/download-2.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 100% calc(0% + 4px);
    width: max-content;
    padding-right: 25px;
    color: var(--highBlack);
}

.settings .list li p {
    border-radius: 5px;
    font-family: var(--lucasNespresso-regular);
    font-size: 12px;
    padding: 8px;
    color: white;
    text-align: center;
    justify-self: end;
    text-transform: uppercase;
}

.settings .list li p.restore {
    border-radius: 5px;
    font-family: var(--lucasNespresso-bold);
    font-size: 14px;
    color: var(--brown);
    text-align: center;
    margin-top: 5px;
    justify-self: end;
    text-decoration: underline;
    padding: 0px;
    text-transform: uppercase;
    transition: var(--transitionMedium);
    cursor: pointer;
}

.settings .list li p.restore:hover {
    color: var(--lowBlack);
}

.uploadActive .settings .rights {
    width: max-content;
    margin-top: 70px;
    bottom: 20px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 20px;
}

.periodActive .settings .rights {
    transform: translate(50%, 0%);
    width: max-content;
    margin-top: 70px;
    position: absolute;
    bottom: 0px;
    display: block;
    right: 50%;
}

.settings .upload {
    margin: 30px 0px
}

.settings .upload h3 {
    font-family: var(--lucasNespresso-regular);
    font-size: 18px;
    line-height: 1.3em;
    color: var(--highBlack);
    opacity: 40%;
    margin-bottom: 20px;
}

.settings .upload div input {
    opacity: 0%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.settings .upload .load {
    border-radius: var(--radiusLow);
    background-color: var(--lightBrown);
    height: 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.settings .upload .load .fill.green {
    background-color: var(--green);
}

.settings .upload .load .fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--brown);
}

.settings .upload div h4 {
    font-family: var(--lucasNespresso-regular);
    font-size: 18px;
    line-height: 1.3em;
    color: var(--grey-brown);
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    width: calc(100% - 40px);
    transform: translate(0px, -50%);
    text-align: center;
    background-image: url(../assets/config/download-1.svg);
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding-top: 58px;
    transition: var(--transitionMedium);
}

.settings .upload div .fill.green+h4 {
    background-image: url(../assets/config/done.svg);
}

.settings .list .history {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
    color: var(--highBlack);
}

.periodActive .settings .upload-period h2:nth-child(1) {
    color: var(--grey);
    border-bottom: 1px solid var(--grey);
    float: left;
}

.periodActive .settings .upload-period h2:nth-child(2) {
    color: var(--highBlack);
    border-bottom: 1px solid var(--brown);
    float: right;
}

.settings .periodPart h3 {
    font-family: var(--lucasNespresso-regular);
    font-size: 18px;
    line-height: 1.3em;
    color: var(--highBlack);
    opacity: 40%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.settings .periodPart .labelSelect {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
    line-height: 1.3em;
    color: var(--highBlack);
    margin-bottom: 15px;
}

.settings .SumoSelect>.CaptionCont>label>i {
    background-image: url(../assets/header/arrow-down.svg);
    background-position: center;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-repeat: no-repeat;
    opacity: .8;
    transition: var(--transitionMedium);
}

.settings .SumoSelect.open>.optWrapper {
    top: 52px;
}

.settings .SumoSelect>.CaptionCont>span {
    font-family: var(--lucasNespresso-regular);
    line-height: 1.5em;
    font-size: 16px;
    color: var(--highBlack);
}

.settings .SumoSelect {
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    border: 3px solid var(--grey);
}

.settings .resultWrapper {
    overflow: hidden;
}

.settings .resultWrapper {
    overflow: hidden;
    margin-top: 25px;
}

.settings .finalResult {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
    float: left;
}

.settings .resultWrapper #pagination-container {
    float: right;
}

.settings .resultWrapper #pagination-container ul {
    display: flex;
    gap: 15px;
}

.settings .resultWrapper #pagination-container li a {
    color: var(--brown);
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;

}

.settings .resultWrapper .page-item.prev img,
.settings .resultWrapper .page-item.first img,
.settings .resultWrapper .page-item.next img,
.settings .resultWrapper .page-item.last img {
    margin-top: 2px;
}

.settings .resultWrapper #pagination-container li.next a,
.settings .resultWrapper #pagination-container li.active a {
    text-decoration: none;
    color: var(--highBlack);
}

.settings .selectPeriodWrapper {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 10px;
}

.settings .submitPeriod {
    font-size: 14px;
    font-family: 'Jost';
    font-weight: bold;
    color: white;
    border-radius: var(--radiusLow);
    background-color: var(--brown);
    padding: 16px 20px;
    border: 3px solid var(--brown);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    float: right;
    display: block;
    transition: var(--transitionMedium);
    cursor: pointer;
    align-self: end;
}

.settings .submitPeriod:hover {
    background-color: var(--brownHover);
    border: 3px solid var(--brownHover);
}

.settings .SumoSelect p {
    padding: 13px 15px;
}

/* HEADER */

header {
    padding: 40px;
    width: 100%;
}

header div {
    width: max-content;
    margin: 0 auto;
    position: relative;
}

header div img {
    float: left;
    height: 35px;
}

header.smallTitle div img {
    height: 28px;
    margin-top: 2px;
}

header.smallTitle div h2 {
    font-size: 16px;
}

header.smallTitle div h2:before {
    padding: 14px 0px;
    margin-top: -7px;
}

header div h2 {
    font-family: var(--lucasNespresso-medium);
    float: left;
    margin-top: 10px;
    color: var(--grey);
    font-size: 20px;
    text-transform: uppercase;
}

header div h2:before {
    margin-top: -10px;
    width: 1px;
    padding: 17.5px 0px;
    background-color: var(--grey);
    content: "";
    display: block;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

/* MENU */

header.menu div:nth-child(1) {
    float: left;
}

header.menu div:nth-child(2) {
    float: right;
}

header.menu .config {
    width: 155px;
    position: relative;
    border-radius: 5px;
}

header.menu h3 {
    margin-top: -10px;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    padding: 15px;
    background-color: var(--lightBrown);
    overflow: hidden;
    width: 100%;
    line-height: 1.5em;
}

header.menu h3:before {
    background-image: url(../assets/header/pearson-config.svg);
    background-color: var(--lightBrown);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: 1px;
}

header.menu h3:after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/header/arrow-down.svg);
    background-color: var(--lightBrown);
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    float: right;
    margin-left: 8px;
    margin-top: 6px;
    transition: var(--transitionMedium);
}

.navOpen header h3:after {
    transform: rotate(180deg);
    margin-top: -2px;
}

header.menu h3.active {
    padding-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
}

header.menu h3.active:after {
    transform: rotate(180deg);
    height: 8px;
    margin-top: 5px;
}

header.menu .config nav {
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    padding: 5px;
    background-color: var(--lightBrown);
    position: relative;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 35px;
    transition: var(--transitionFast);
    max-height: 0;
    overflow: hidden;
    opacity: 0%;
}

header.menu .config nav.active {
    opacity: 1;
    max-height: 200px;
}

header.menu .config nav a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: var(--transitionFast);
    cursor: pointer;
    text-decoration: none;
    color: var(--highBlack);
}

header.menu .config nav a:hover,
header.menu .config nav a.active {
    color: white;
    background-color: var(--brown);
}

header.menu .config nav a.out {
    position: relative;
    margin-bottom: 0px;
}

header.menu .config nav a.out:after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/header/out.svg);
    width: 8px;
    height: 10px;
    content: "";
    display: block;
    margin-left: 8px;
    margin-top: 2px;
    position: absolute;
    top: 10.5px;
    left: 30px;
    transition: var(--transitionFast);
}

/* LOGIN */

.login,
.passwordRecovery {
    text-align: center;
    margin-top: 110px;
}

.passwordRecovery .done,
.login .done {
    transition: var(--transitionMedium);
    opacity: 0%;
    top: -40px;
    position: absolute;
}

.passwordRecovery .done p,
.login .done p {
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    line-height: 1.5em;
    color: var(--green);
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
}

.passwordRecovery .done p:before,
.login .done p:before {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/new-password/done.svg);
    width: 18px;
    content: "";
    height: 24px;
    display: block;
    transform: translate(0%, -50%);
    left: 0px;
    top: calc(50% + 3px);
    position: absolute;
}

.send-email .passwordRecovery form input {
    border-color: var(--green);
}

.send-email .passwordRecovery .done,
.alteredPassword .login .done {
    top: 0px;
    opacity: 100%;
    position: relative
}

.login form {
    margin-bottom: 180px;
}

.login .error {
    transition: var(--transitionMedium);
    opacity: 0%;
    top: -40px;
    position: absolute;
}

.login .error p {
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    line-height: 1.5em;
    color: var(--red);
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
}

.login .error p:before {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/login/problem.svg);
    width: 18px;
    content: "";
    height: 18px;
    display: block;
    transform: translate(0%, -50%);
    left: 0px;
    top: 50%;
    position: absolute;
}


.login form .forgotPassword {
    margin-bottom: 20px;
    transition: var(--transitionMedium);
}

.login form .password-eye {
    position: relative;
}

.login form .password-eye .eye {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/login/eyes.svg);
    width: 22px;
    height: 19px;
    background-position: center;
    display: block;
    transform: translate(0%, 50%);
    right: 15px;
    position: absolute;
    bottom: 70px;
    transition: var(--transitionMedium);
    cursor: pointer;
}

.eyesOff .login form .password-eye .eye {
    background-image: url(../assets/login/eyes-off.svg);
}

.wrongPassword .login form .forgotPassword {
    margin-bottom: 20px;
}

.wrongPassword .login form input {
    border-color: var(--red);
}

.wrongPassword .login .error {
    opacity: 100%;
    top: 0px;
    position: relative
}

/* NEW PASSWORD DEFINITION*/

.new-password form input:nth-child(4) {
    margin-bottom: 10px;
}

.new-password .rights {
    margin: 0 auto;
    padding-bottom: 20px;
    margin-top: 180px;
    width: max-content;
}

.new-password .enter {
    margin-top: 30px;
}

.new-password {
    margin-top: 90px;
}

.no-match .new-password form .forgotPassword {
    margin-bottom: 20px;
}

.no-match .new-password form input {
    border-color: var(--red);
}

.no-match .new-password .error {
    opacity: 100%;
    top: 0px;
    position: relative
}

.new-password .error {
    transition: var(--transitionMedium);
    opacity: 0%;
    top: -40px;
    position: absolute;
}

.new-password .error p {
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    line-height: 1.5em;
    color: var(--red);
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
}

.new-password .error p:before {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/login/problem.svg);
    width: 18px;
    content: "";
    height: 18px;
    display: block;
    transform: translate(0%, -50%);
    left: 0px;
    top: 50%;
    position: absolute;
}

.new-password form .password-eye {
    position: relative;
}

.new-password form .password-eye .eye {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(../assets/login/eyes.svg);
    width: 22px;
    height: 22px;
    display: block;
    transform: translate(0%, 50%);
    right: 15px;
    position: absolute;
    bottom: 35px;
    transition: var(--transitionMedium);
    cursor: pointer;
}

.new-password form .password-eye #eye1 {
    bottom: 35px;
}

.new-password form .password-eye:nth-child(2) input {
    margin-bottom: 10px;
}

.eyesOff2 .new-password form .password-eye #eye2 {
    background-image: url(../assets/login/eyes-off.svg);
}

.eyesOff1 .new-password form .password-eye #eye1 {
    background-image: url(../assets/login/eyes-off.svg);
}

/* DETAIL */

.modalBackground {
    width: 100%;
    position: fixed;
    height: 100vh;
    transition: var(--transitionMedium);
    background-color: rgba(252, 246, 233, 0.8);
    opacity: 0;
    z-index: -1;
}

.modalDetailActive .modalBackground {
    top: 0%;
    z-index: 4;
    opacity: 100%;
}

.detail::-webkit-scrollbar-track {
    background: var(--neutral1);
}

.detail::-webkit-scrollbar {
    width: 12px;
}

.detail::-webkit-scrollbar-track {
    background: var(--lightBrown);
}

.detail::-webkit-scrollbar-thumb {
    background-color: var(--brown);
    border-radius: 20px;
}

.detail {
    background-color: white;
    width: 850px;
    margin: 0 auto;
    top: calc(100% + 200px);
    border-radius: 10px;
    transition: var(--transitionMedium);
    overflow-y: scroll;
    height: calc(100vh - 200px);
    margin-top: 100px;
    opacity: 0%;
    z-index: -5;
    position: fixed;
    max-height: 0px;
}

.detail.active {
    z-index: 5;
    top: 0%;
    opacity: 100%;
    max-height: 100%;
}

.detail .firstContent {
    border-bottom: 1px solid var(--grey);
    margin-top: 90px;
    overflow: hidden;
    padding-bottom: 30px;
}

.detail .titleContainer {
    float: left;
    margin-left: 40px;
}

.detail .titleContainer p {
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
}

.detail .detailContainer {
    float: right;
    position: relative;
    margin-right: 40px;
}

.detail .SumoSelect .selectFilter {
    margin: 0px 40px;
    width: 163px;
    background-color: var(--lightBrown);
    border-radius: 5px;
    font-size: 12px;
    font-family: var(--lucasNespresso-regular);
    height: calc(100% - 20px);
    text-transform: none;
    margin-top: 20px;
}

.detail .SumoSelect {
    margin-bottom: 40px;
}

.detail .detailContainer .tag {
    text-transform: uppercase;
    padding: 10px;
    background-color: var(--orange);
    color: white;
    font-size: 12px;
    font-family: var(--lucasNespresso-regular);
    margin-bottom: 20px;
    width: max-content;
    border-radius: 5px;
    position: absolute;
    right: 0px;
}

.detail .detailContainer .email {
    color: var(--highBlack);
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: end;
    text-transform: none;
}

.detail .detailContainer .email:after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/detail/email.svg);
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    float: right;
    margin-left: 8px;
}

.detail .detailContainer .next {
    color: var(--grey);
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    margin-bottom: 10px;
    text-transform: none;
}

.detail .detailContainer .next:after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/detail/close.svg);
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    float: right;
    margin-left: 8px;
}

.detail .title {
    margin-bottom: 10px;
}

.detail .listTitle {
    margin: 0px 40px;
    margin-bottom: 5px;
    border-bottom: 3px solid var(--grey);
    padding-bottom: 25px;
}

.detail .listTitle h3 {
    width: max-content;
    float: left;
    color: var(--highBlack);
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    text-transform: uppercase;
}

.partners .selectContainer .SumoSelect>.CaptionCont>label {
    width: 30px
}

.detail .SumoSelect>.optWrapper {
    width: 163px;
    left: 40px;
}

.partners .detail .SumoSelect.open>.optWrapper {
    top: 48px;
}

.detail .SumoSelect p {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    border: solid 3px var(--neutral2);
}

.detail .listDetail {
    margin: 0px 40px;
}

.partners .detail .listDetail .containerItem {
    border-bottom: 1px solid var(--greyBorder);
    padding: 20px 0px;
    width: 100%;
    display: block;
}

.detail .listDetail .containerItem:last-child {
    border-bottom: 0px
}

.detail .listDetail .itemDetail {
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 4fr 2fr 100px;
    gap: 5px;
}

.detail .listDetail .itemDetail p:nth-child(3) {
    justify-self: center;
}

.detail .listDetail .itemProblem .itemDetail p {
    opacity: 0%;
}

.detail .listDetail li div {
    overflow: hidden;
    justify-self: start;
}

.detail .listDetail .itemDetail div h3 {
    float: left;
    margin-left: 10px;
    line-height: 80px;
}

.detail .listDetail li img {
    border-radius: 5px;
    justify-self: center;
    float: left;
}

.detail .listDetail .itemDetail div:before {
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/detail/ok.svg);
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    float: left;
    margin-top: 30px
}

.detail .listDetail .itemDetail div.no-icon:before {
    opacity: 0%;
}

.detail .listDetail .itemDetail .problem:before {
    background-image: url(../assets/detail/warning.svg);
}

.detail .listDetail li .dismiss {
    color: var(--brown);
    text-transform: uppercase;
    transition: var(--transitionMedium);
    text-decoration: underline;
    border: none;
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    background-color: white;
}

.detail .listDetail li .dismiss:hover {
    color: var(--lowBlack);
}

.detail .no-photo {
    opacity: 20%;
}

.detail .modalProblem {
    margin-top: 15px;
    position: relative;
}

.detail .listDetail .containerItem.no-border-bottom {
    border-bottom: none;
}

.detail .listDetail li .modalProblem h3 {
    margin-bottom: 7px;
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    text-transform: uppercase;
    margin-left: 35px;
    margin-right: 40px;
    float: none;
    line-height: 1.5em;
}

.detail .modalProblem p {
    padding: 15px;
    background-color: var(--orange);
    color: white;
    border-radius: 5px;
    margin-left: 35px;
    line-height: 1.5em;
    font-family: var(--lucasNespresso-regular);
}

.detail .modalProblem .borderTip {
    display: block;
    background-color: var(--orange);
    transform: rotate(-45deg);
    padding: 5px;
    position: absolute;
    top: 24px;
    left: 60px;
}

.detail .close {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/detail/closeButton.svg);
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    background-color: white;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px
}

.detail .close:hover {
    opacity: 50%;
}

.detail .carouselDate {
    width: 100px;
    float: right;
}

.detail .owl-theme .owl-dots,
.detail .owl-theme .owl-nav {
    top: -7px;
    width: 83px;
    overflow: hidden;
}

.detail .owl-theme .owl-dots,
.detail .owl-theme .owl-nav .owl-next {
    float: right;
}

.detail .owl-theme .owl-dots,
.detail .owl-theme .owl-nav .owl-prev {
    float: left;
}

.detail .listTitle p {
    color: var(--highBlack);
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    text-align: end;
    margin-right: 20px;
}

/* PARTNER */

.partners {
    width: 850px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 70px;
}

.partnerRights {
    padding-bottom: 20px;
}

.modalDetailActive {
    overflow: hidden;
}

.partners .title {
    overflow: hidden;
}

.partners .title h2 {
    float: left;
}

.partners .title a {
    float: right;
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    color: var(--brown);
    line-height: 1.5em;
    text-transform: none;
    margin-top: 6px;
    text-decoration: none;
    transition: var(--transitionMedium);
}

.partners .title a:hover {
    color: var(--lowBlack);
}

.partners .title a:hover:after {
    background-image: url(../assets/partners/download-black.svg);
}

.partners .title a:after {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/partners/download.svg);
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    float: right;
    margin-left: 8px;
    transition: var(--transitionMedium);
    margin-top: 2px;
}

.partners .search {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 155px) 155px;
    gap: 20px;
    margin-bottom: 20px;
}

.partners .inputContainer {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid var(--grey);
    font-family: var(--lucasNespresso-regular);
}

.partners input {
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    width: 100%;
    border: none;
}

.partners input::placeholder {
    color: var(--grey);
}

.partners .enter {
    width: 135px;
    margin-bottom: 0px;
    height: 100%;
    padding: 0px;
}

.partners .mainInput {
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    color: var(--highBlack);
    border: none;
    width: calc(100% - 25px);
}

.partners .inputContainer:before {
    background-image: url(../assets/partners/lupa.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: 3px;
}

.partners .tags {
    float: left;
    height: 100%;
}

.partners .tags button {
    padding: 5px;
    font-size: 12px;
    font-family: var(--lucasNespresso-regular);
    color: white;
    width: max-content;
    border: 3px solid var(--grey);
    background-color: var(--grey);
    border-radius: 8px;
    overflow: hidden;
    display: inline;
    transition: var(--transitionMedium);
    text-transform: uppercase;
}

.partners .tags button:after {
    float: right;
    margin-left: 3px;
}

.partners .tags .late.active {
    background-color: red;
    border: 3px solid var(--borderRed);
}

.partners .tags .today.active {
    background-color: green;
    border: 3px solid var(--borderGreen);
}

.partners .tags .next.active {
    background-color: var(--pink);
    border: 3px solid var(--borderDarkRed);
}

.partners .tags .waiting.active {
    background-color: var(--orange);
    border: 3px solid var(--borderOrange);
}

.partners .tags .late:after {
    content: "(210)";
    color: var(--highBlack);
}

.partners .tags .today:after {
    content: "(130)";
    color: var(--highBlack);
}

.partners .tags .next:after {
    content: "(2330)";
    color: var(--highBlack);
}

.partners .tags .waiting:after {
    content: "(10)";
    color: var(--highBlack);
}

.partners .filterSelectContainer {
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 1px;
}

.partners .filter .filterSelectContainer .selectFilter {
    padding: 8px;
}

.partners .filter {
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.partners .filterSelectContainer .labelSelect {
    font-family: var(--lucasNespresso-regular);
    font-size: 12px;
    color: var(--highBlack);
    display: inline;
    margin-right: 10px;
}

.partners .biggerList .titleList {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 80px;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid var(--highBlack);
}

.partners .biggerList {
    border-bottom: 1px solid var(--highBlack);
}

.partners .biggerList .titleList input {
    width: min-content;
}

.partners .biggerList .titleList label {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
}

.partners .biggerList .titleList h3 {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
    line-height: 1.5em;
    text-transform: none;
}

.partners .biggerList .content {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-top: 1px solid var(--greyBorder);
}

.partners .biggerList .item:nth-child(1) .content {
    border: none
}

.partners .biggerList li .content label {
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
}

.partners .biggerList li .content label {
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    line-height: 27px;
}

.partners .biggerList li .content input {
    width: min-content;
}

.partners .biggerList li .content input[type=checkbox] {
    vertical-align: middle;
    margin-bottom: 5px;
}

.partners h4 {
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    line-height: 27px;
}

.partners .checkTerms {
    width: min-content;
}

.partners .checkLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 12px;
    cursor: pointer;
    line-height: 1.5em;
}

.partners .checkLabel input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: 1px;
    top: -5px;
    height: 30px;
    z-index: 2;
}

.partners .checkLabel input:checked~.check {
    background-color: var(--highBlack);
    border: 2px solid var(--highBlack);
}

.partners .check {
    left: 0;
    top: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    border: 2px solid var(--grey);
}

.partners .biggerList .titleList .check {
    top: 0px;
}

.partners .check:after {
    top: 2px;
    left: 5px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.partners .check:after {
    content: "";
    position: absolute;
    display: none;
}

.partners .checkLabel input:checked~.check:after {
    display: block;
}

.partners .biggerList li .content p {
    border-radius: 5px;
    font-family: var(--lucasNespresso-regular);
    font-size: 12px;
    padding: 8px;
    color: white;
    text-align: center;
    justify-self: end;
    text-transform: uppercase;
}

.partners .biggerList li .lateRegister {
    background-color: red;
}

.partners .biggerList li .todayRegister {
    background-color: green;
    width: min-content;
}

.partners .biggerList li .waitRegister {
    background-color: var(--orange);
    width: min-content;
}

.partners .rights {
    margin: 0 auto;
    width: max-content;
    margin-top: 70px;
    padding-bottom: 30px;
}

/* SELECT NUMBER */

.partners .custom-select {
    position: relative;
    display: inline-block;
}

.partners .selected-option-container {
    background-color: var(--lightBrown);
    cursor: pointer;
    border-radius: var(--radiusLow);
    padding: 5px;
    width: 55px;
    overflow: hidden;
    height: 28px;
}

.partners .selected-option {
    line-height: 1.7em;
    font-size: 12px;
    font-family: var(--lucasNespresso-regular);
    margin-left: 5px;
    float: left;
}

.partners .arrows {
    height: 100%;
    float: right;
    margin-right: 5px;
}

.partners .select2-container {
    display: none;
}

.partners .selected-option-container .options {
    position: absolute;
    display: none;
    top: 28px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100px;
    max-height: 140px;
    overflow-y: auto;
}

.partners .selectContainer .options.visible {
    display: block;
}

.partners .selectContainer .option {
    padding: 5px;
}

.partners .arrow {
    background-repeat: no-repeat;
    width: 7px;
    background-size: 8px;
    height: 50%;
}

.partners .arrow-up {
    background-position: bottom;
    background-image: url(../assets/partners/arrow-up.svg);
    margin-bottom: 2px;
}

.partners .arrow-down {
    background-position: top;
    background-image: url(../assets/partners/arrow-down.svg);
    margin-top: 2px;
}

.partners .selectContainer {
    display: grid;
    grid-template-columns: 1fr 60px;
}

.partners .selectContainer .labelSelect {
    align-self: center;
}

.partners .resultWrapper {
    overflow: hidden;
}

.partners .resultWrapper {
    overflow: hidden;
    margin-top: 25px;
}

.partners .finalResult {
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;
    float: left;
}

.partners .resultWrapper #pagination-container {
    float: right;
}

.partners .resultWrapper #pagination-container ul {
    display: flex;
    gap: 15px;
}

.partners .resultWrapper #pagination-container li a {
    color: var(--brown);
    font-family: var(--lucasNespresso-regular);
    font-size: 16px;

}

.partners .resultWrapper #pagination-container li.next a,
.partners .resultWrapper #pagination-container li.active a {
    text-decoration: none;
    color: var(--highBlack);
}

.partners .resultWrapper .page-item.prev img,
.partners .resultWrapper .page-item.first img,
.partners .resultWrapper .page-item.next img,
.partners .resultWrapper .page-item.last img {
    margin-top: 2px;
}

.partners .SumoSelect.open>.optWrapper {
    top: 25px;
}

/* SIGNATURE */

.signature {
    width: 900px;
    margin: 0 auto;
    margin-top: 120px;
}

.signature h2 {
    line-height: 1.2em;
    text-transform: uppercase;
    font-size: 36px;
    font-family: var(--lucasNespresso-regular);
    margin-bottom: 20px;
}

.signature .description {
    line-height: 1.3em;
    font-size: 18px;
    font-family: var(--lucasNespresso-regular);
    margin-bottom: 40px;
}

.signature .cardInfo {
    border-radius: var(--radiusMedium);
    border: 2px solid var(--grey);
    padding-bottom: 80px;
    position: relative;
    margin-bottom: 20px;
}

.signature .cardInfo.cardReady {
    padding-bottom: 70px;
}

.signature .cardReady .firstInfo {
    margin-bottom: 30px;
}

.signature.ready .cardInfo {
    padding-bottom: 0px;
    margin-bottom: 10px
}

.signature.ready .cardInfo:last-child {
    margin-bottom: 0px;
}

.signature.ready .contact-whatsapp {
    font-size: 14px;
    font-family: 'Jost';
    font-weight: bold;
    color: white;
    border-radius: var(--radiusLow);
    background-color: var(--brown);
    padding: 12px 27px;
    border: 3px solid var(--brown);
    width: 350px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    float: right;
    display: block;
    transition: var(--transitionMedium);
    cursor: pointer;
    line-height: 1.5em;
}

.signature.ready .contact-whatsapp:hover {
    border: 3px solid var(--brownHover);
    background-color: var(--brownHover);
}

.signature.ready .contactWrapper {
    margin: 0 auto;
    overflow: hidden;
    width: max-content;
    margin-bottom: 80px;
}

.signature.ready .contactWrapper p {
    font-family: var(--lucasNespresso-regular);
    font-size: 18px;
    margin-right: 20px;
    float: left;
    margin-top: 16px;
}

.signature.ready .cards {
    margin-bottom: 40px;
}

.signature.ready .contact-whatsapp:before {
    margin-right: 5px;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-size: 100%;
    background-image: url(../assets/general/whats.svg);
    width: 24px;
    height: 25px;
    content: "";
    display: block;
    float: left;
    margin-top: -3px;
}

.signature .firstInfo {
    overflow: hidden;
    width: 100%;
    margin: 20px 20px 40px 20px;
}

.signature .CardReady .firstInfo {
    margin: 20px 20px 30px 20px;
}

.signature.ready .firstInfo {
    margin: 20px;
}

.signature.ready .modalSummary {
    margin-top: -8px;
}

.signature .img-status {
    width: 80px;
    height: 80px;
    border-radius: var(--radiusLow);
    background-color: var(--lightGrey);
    float: left;
    margin-right: 20px;
    position: relative;
    text-align: center;
}

.signature .wrongAwnser {
    margin-left: 20px;
}

.signature .img-status p {
    position: absolute;
    top: 50%;
    left: 10px;
    width: calc(100% - 20px);
    transform: translate(0px, -50%);
    text-align: center;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    padding-top: 20px;
    line-height: 1.4em;
    font-size: 10px;
    color: var(--red);
    font-family: var(--lucasNespresso-medium);
}

.signature .img-status p.waiting {
    background-image: url(../assets/general/caution.png);
}

.signature .img-status p.pending {
    background-image: url(../assets/general/caution-orange.png);
    background-color: transparent;
    color: var(--orange);
}

.signature .img-status p.confirmed {
    background-image: url(../assets/general/confirmed.svg);
    background-color: transparent;
    color: rgba(61, 135, 5)
}

.signature .info-status p.warning-orange {
    color: var(--orange);
    margin-top: 0px;
}

.signature .info-status p.confirmed {
    color: rgba(61, 135, 5);
    margin-top: 0px;
}

.signature .cardInfo .tagPending {
    position: absolute;
    font-family: var(--lucasNespresso-regular);
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    border-radius: var(--radiusLow);
    background-color: var(--orange);
    color: white;
    top: 20px;
    right: 20px;
}

.signature .cardInfo.confirmedCard .tagPending {
    background-color: var(--green);
}

.signature .info-status p.warning-orange:before {
    background-image: url(../assets/general/caution-orange.png);
}


.signature .info-status p.confirmed:before {
    background-image: url(../assets/general/confirmed.svg);
}

.signature .pendingStatus .img-status {
    background-color: rgb(237 147 26 / 20%);
}

.signature .confirmedCard .img-status {
    background-color: rgba(61, 135, 5, 20%)
}

.signature .info-status {
    float: left;
    margin-top: 5PX;
}

.signature .info-status p {
    margin-top: 10px;
    line-height: 1.14em;
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
}

.signature .info-status p:nth-child(1) {
    color: var(--red);
    margin-top: 0px;
}

.signature .info-status p:before {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 20px;
    content: "";
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: -2px;
}

.signature .info-status p.warning:before {
    background-image: url(../assets/general/caution.png);
}

.signature .info-status p.pearson:before {
    background-image: url(../assets/general/user.svg);
}

.signature .info-status p.place:before {
    background-image: url(../assets/general/location.svg);
}

.signature .cardInfo h3 {
    margin-left: 20px;
    line-height: 2.25em;
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
}

.signature .cardInfo h3 span {
    cursor: pointer;
    font-size: 16px;
    color: var(--brown);
    text-decoration: underline;
    text-transform: uppercase;
}

.signature .serial-number {
    margin: 20px 0px;
    overflow: hidden;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--grey);
}

.signature .serial-number h4 {
    margin-right: 10px;
    float: left;
    letter-spacing: 5px;
    line-height: 1.3em;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: var(--lucasNespresso-regular);
}

.signature .cardReady .serial-number .marginReady {
    margin-top: 10px;
}

.signature .cardReady .serial-number .marginReady.no-margin {
    margin-top: 15px;
}

.signature .serial-number .picture {
    float: none;
}

.signature .serial-info {
    width: 100%;
    margin-bottom: 30px;
}

.signature .serial-info h4 {
    margin-top: 15px;
}

.signature .serial-number div input {
    width: 40px;
    margin-right: 10px;
    height: 50px;
    border-radius: var(--radiusLow);
    border: 1px solid var(--grey);
    font-family: var(--lucasNespresso-regular);
    font-size: 18px;
    text-align: center;
}

.signature .serial-number div input:focus {
    border: 1px solid var(--brown);
}

.signature .serial-number .inputWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: calc(160px + 60px)
}

.signature .serial-number .inputWrapper p {
    font-family: var(--lucasNespresso-regular);
    font-size: 18px;
    line-height: 1.4em;
    text-align: center;
    position: absolute;
    transform: translate(0%, 50%);
    top: 0px;
    right: 0px;
    width: 100%;
    left: 0px;
}

.signature .serial-number .divInput {
    width: 40px;
    margin-right: 10px;
    height: 50px;
    border-radius: var(--radiusLow);
    border: 1px solid var(--grey);
    display: block;
    position: relative;
}

.signature .selectQuestion {
    background-color: var(--lightGrey);
    margin: 0px 20px;
    border-radius: var(--radiusLow);
    margin-top: 10px;
    width: 400px;
}

.signature .confirm {
    padding: 14px 20px;
    border-radius: var(--radiusLow);
    color: white;
    font-size: 14px;
    font-family: var(--lucasNespresso-bold);
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 3px solid transparent;
    width: 160px;
    text-transform: uppercase;
    transition: var(--transitionMedium);
}

.signature .confirm.active {
    background-color: var(--brown);
}

.signature .confirm.active:hover {

    border: 3px solid var(--brownHover);
    background-color: var(--brownHover)
}


.signature .edit {
    padding: 14px 20px;
    background-color: white;
    border-radius: var(--radiusLow);
    color: var(--brown);
    font-size: 14px;
    font-family: var(--lucasNespresso-bold);
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 3px solid transparent;
    width: 160px;
    text-transform: uppercase;
    border: 3px solid var(--brown);
    transition: var(--transitionMedium);
}

.signature .edit:hover {
    background-color: var(--brownHover);
    color: white;
}

.signature .SumoSelect>.CaptionCont>span.placeholder {
    color: var(--highBlack);
    opacity: 40%;
}

.signature .SumoSelect>.optWrapper {
    width: 400px;
    margin-left: 20px;
    top: 35px;
}

.signature .formWrapper .SumoSelect>.optWrapper {
    width: 100%;
}

.signature .formWrapper .SumoSelect>.optWrapper {
    margin-left: 0px;
}

.signature .cardInfo .SelectClass,
.signature .cardInfo .SumoUnder {
    height: calc(100% - 10px);
}

.signature .containerTip {
    position: relative;
}

.signature .addMachine .SumoSelect.open>.optWrapper {
    top: 50px;
}

.signature .machineTip {
    top: -330px;
    right: 275px;
    position: absolute;
    background-color: var(--lightGrey);
    border-radius: var(--radiusLow);
    width: 280px;
    padding: 20px;
    z-index: -1;
    opacity: 0%;
    transition: var(--transitionMedium);
}

.signature .machineTip.active {
    opacity: 100%;
    top: -300px;
    z-index: 1;
}

.signature .machineTip h2 {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: none;
    text-align: center;
}

.signature .machineTip p {
    font-family: var(--lucasNespresso-regular);
    font-size: 12px;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.signature .machineTip img {
    margin-bottom: 10px;
    border-radius: var(--radiusLow);
}

.signature .machineTip button {
    background-color: var(--lightGrey);
    position: absolute;
    right: 14px;
    top: 10px;
    border: none;
    width: 12px;
    height: 12px;
    background-image: url(../assets/general/button-x-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: var(--transitionFast);
}

.signature .borderTip {
    display: block;
    background-color: var(--lightGrey);
    transform: rotate(-45deg);
    padding: 10px 10px;
    position: absolute;
    bottom: -6px;
    right: 130px;
}

.signature .SumoSelect p {
    padding: 8px;
}

.signature .addMachine .SumoSelect p {
    padding: 16px;
}

.signature .modalText textarea::placeholder {
    line-height: 1.5;
}

.signature .modalText textarea {
    height: 170px;
    margin: 5px 20px 0px 20px;
    padding: 10px;
    border-radius: var(--radiusLow);
    border: 1px solid var(--grey);
    width: calc(100% - 40px);
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 2.25em;
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
}

.signature .modalText textarea::placeholder {
    font-size: 16px;
    line-height: 1.5em;
    color: var(--grey);
    font-family: var(--lucasNespresso-regular);
}

.signature .modalText h3 {
    margin-top: 10px;
}

.signature .modalSummary {
    background-color: var(--orange);
    margin: 20px;
    width: calc(100% - 40px);
    padding: 10px;
    position: relative;
    border-radius: var(--radiusLow);
    margin-top: 13px;
}

.signature .modalSummary h3 {
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    margin-left: 0px;
}

.signature .borderTipSummary {
    display: block;
    background-color: var(--orange);
    transform: rotate(-45deg);
    padding: 5px;
    position: absolute;
    top: -5px;
    left: 25px;
}

.signature .addMachineField .addMachine {
    border-radius: var(--radiusLow);
    border: 1px solid var(--grey);
    margin-top: 10px;
    padding: 20px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.signature .addMachineField .addMachine .addWrapper {
    overflow: hidden;
}

.signature .addMachineField .addMachine h3 {
    line-height: 1.5em;
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
}

.signature .addMachineField .addMachine .addText {
    float: left;
    margin-top: 35px;
    margin-left: 20px;
}

.signature .addMachineField .addMachine span {
    text-transform: uppercase;
    color: var(--brown);
    cursor: pointer;
    text-decoration: underline;
}

.signature .addMachineField .addMachine .SumoSelect[is-selected="true"] span {
    color: var(--lowBlack);
}

.signature .addMachineField .introduction {
    line-height: 1.5em;
    font-size: 16px;
    font-family: var(--lucasNespresso-regular);
    margin: 20px 0px
}

.signature .addMachineField .addMachine .addWrapper div {
    background-color: var(--lightGrey);
    border-radius: var(--radiusLow);
    float: left;
    transition: var(--transitionMedium);
    width: 80px;
    height: 80px;
    background-image: url(../assets/general/add.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
}

.signature .addMachineField .addMachine .addWrapper:hover div {
    background-color: var(--grey);
}

.signature .confirmInput {
    overflow: hidden;
    float: left;
    width: 580px;
}

.signature .containerCheck {
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 80px;
}

.signature .confirmInput input {
    float: left;
    margin-right: 10px;
    display: block;
}

.signature .confirmInput label {
    line-height: 1.5em;
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    display: block;
}

.signature .sendNew {
    float: right;
    border-radius: var(--radiusLow);
    background-color: var(--lightGrey);
    padding: 14px 20px;
    border: 3px solid transparent;
    color: white;
    font-size: 14px;
    font-family: var(--lucasNespresso-bold);
    text-transform: uppercase;
    transition: var(--transitionMedium);
    text-decoration: none;
}

.signature .sendNew.active {
    background-color: var(--brown);
    border: 3px solid var(--brown);
    color: white;
}

.signature .sendNew.active:hover {
    border: 3px solid var(--brownHover);
    background-color: var(--brownHover);
}

.signature .how {
    margin-bottom: 40px;
}

.signature .cardsList {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 40px;
}

.signature .cardsList .card {
    border-radius: var(--radiusMedium);
    padding: 20PX;
    border: 1px solid var(--grey);
}

.signature .cardsList .card h4 {
    font-family: var(--lucasNespresso-bold);
    font-size: 36px;
    color: var(--brown);
    margin-bottom: 30px;
}

.signature .cardsList .card h3 {
    line-height: 1.5em;
    font-size: 18px;
    font-family: var(--lucasNespresso-regular);
}

.signature .visit-info {
    font-size: 18px;
    line-height: 1.3em;
    margin-bottom: 100px;
    font-family: var(--lucasNespresso-regular);
}

.rights {
    margin: 0 auto;
    padding-bottom: 20px;
    width: max-content;
}

.signature .serialWrapper {
    overflow: hidden;
    width: 100%;
}

.signature .cardReady .serialWrapper {
    margin-bottom: 30px;
}

.signature .addConfirm {
    float: left;
}

.signature .serial-number .incorrect.disabled {
    display: none;
}

.signature .serial-number .incorrect {
    font-size: 14px;
    font-family: var(--lucasNespresso-regular);
    line-height: 1.5em;
    color: var(--red);
    margin-bottom: 7px;
    display: block;
    margin-top: 20px;
}

.signature .serial-number .incorrect:before {
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/general/alert.svg);
    width: 18px;
    height: 18px;
    content: "";
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: -1px;
}

.signature .picture {
    padding: 13px 15px;
    border-radius: var(--radiusLow);
    border: 1px solid var(--grey);
    width: calc(50% - 10px);
    position: relative;
    margin-left: 20px;
    overflow: hidden;
    height: 50px;
}

.signature .picture input[type="file"] {
    height: 100%;
    opacity: 0%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0px;
}

.signature .picture div {
    overflow: hidden;
}

.signature .picture span {
    float: right;
    color: var(--brown);
    line-height: 1.5em;
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
}

.signature .addMachineField .addMachine .removeTag,
.signature .picture .removeTag {
    color: var(--red);
}

.signature .picture p {
    float: left;
    color: var(--lowBlack);
    line-height: 1.5em;
    font-family: var(--lucasNespresso-regular);
    font-size: 14px;
}

.signature .allDone .picture p:before {
    display: none;
}

.signature .picture p:before {
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../assets/general/download.svg);
    width: 18px;
    height: 18px;
    content: "";
    display: block;
    float: left;
    margin-top: -1px;
}

.signature .addMachine .picture {
    margin-left: 0px;
}

.signature .addContent h3:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 15px;
}

.signature .addMachine h3 {
    margin-bottom: 10px;
}

.signature .addMachine .addWrapper h3 {
    margin-bottom: 0px;
}

.signature .addMachine input {
    border-radius: var(--radiusLow);
    border: 1px solid var(--grey);
    margin-bottom: 0px;
    font-size: 14px;
    padding: 15px;
    height: 50px;
}

.signature .addContent {
    overflow: hidden;
    margin-top: 20px;
    transition: var(--transitionMedium);
}

.signature .addContent input:nth-child(2) {
    width: 100%;
    margin-bottom: 30px;
}

.signature .addContent form input:nth-child(2) {
    width: 100%;
    margin-bottom: 0px;
}

.signature .question {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.signature .question:nth-child(1) {
    float: left;
}

.signature .question:nth-child(2) {
    float: right
}

.signature select {
    margin: 0px 20px;
    border-radius: var(--radiusLow);
    width: 100%
}

.signature .addMachineField .addMachine .SumoSelect span {
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
}

.signature .addMachineField .addMachine .SumoSelect>.CaptionCont:focus,
.signature .addMachineField .addMachine .SumoSelect.open>.CaptionCont,
.signature .addMachineField .addMachine form input:focus {
    border: 1px solid var(--brown);
}

.signature .addMachineField .addMachine form .SumoSelect label {
    margin-bottom: 0px;
}

.signature .addMachineField .addMachine form .SumoSelect .opt:hover label {
    color: white;
}

.signature .addMachineField .addMachine .SumoSelect>.CaptionCont {
    position: relative;
    min-height: 14px;
    margin: 0;
    border: 1px solid var(--grey);
}

.signature .addMachineField .addMachine form {
    width: 100%;
    margin-top: 30px;
}

.signature .addMachineField .addMachine form h4 {
    font-size: 16px;
    font-family: var(--lucasNespresso-medium);
    margin-bottom: 20px;
}

.signature .addAdressButton {
    float: right;
    border-radius: var(--radiusLow);
    background-color: var(--brown);
    padding: 14px 20px;
    border: 3px solid var(--brown);
    color: white;
    font-size: 14px;
    font-family: var(--lucasNespresso-bold);
    text-transform: uppercase;
    width: 160px;
    transition: var(--transitionMedium);
}

.signature .addAdressButton:hover {
    border: 3px solid var(--brownHover);
    background-color: var(--brownHover);
}

.signature .closeAddMachine {
    background-color: white;
    position: absolute;
    right: 14px;
    top: 20px;
    right: 20px;
    border: none;
    width: 16px;
    height: 16px;
    background-image: url(../assets/general/button-x-close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: var(--transitionFast);
}

.signature .addMachineField .machineTip {
    top: -180px;
    right: 350px;
}

.signature .addMachineField .machineTip.active {
    top: -145px
}

.signature .addMachineField .SumoSelect.open>.optWrapper {
    width: 400px;
    margin-left: 0px;
    width: 100%;
}

/* INPUT CHECK */

.signature .checkTerms {
    width: min-content;
}

.signature .checkLabel {
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: 12px;
    cursor: pointer;
    line-height: 1.5em;
}

.signature .checkLabel input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: -5px;
    height: 30px;
    z-index: 2;
}

.signature .checkLabel input:checked~.check {
    background-color: var(--highBlack);
    border: 2px solid var(--highBlack);
}

.signature .check {
    left: 1px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    border: 2px solid var(--grey);
}

.signature .check:after {
    top: 2px;
    left: 5px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.signature .check:after {
    content: "";
    position: absolute;
    display: none;
}

.signature .checkLabel input:checked~.check:after {
    display: block;
}

.signature .cardInfo.confirmedCard .serial-number {
    margin-bottom: 10px;
}